/******************************************************************************
 *
 * RESET
 *
 ******************************************************************************/

*, *::before, *::after
{
    margin:0;
    padding: 0;
    border:0;
    outline: 0;
    vertical-align: baseline;
    font-weight: inherit;
    font-style: inherit;
    box-sizing: border-box;
    font-family: arial, sans-serif;
    font-size: 0.875rem;
    color: rgba(50, 50, 50, 1);
}


html, body
{
    width: 100%;
    height: 100%;
    background-color: rgba(250, 250, 250, 1);
}

:focus
{
    outline: 0;
}

a:link, a:active, a:visited, a:hover
{
    text-decoration: none;
    font-weight: bold;
}

ol, ul, li
{
    list-style: none;
    list-style-position: inside;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: bold;
    font-size: 1.2rem;
}

body::before
{
    content: '';
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}


body.appLoading::before
{
    width: 100%;
    height: 100%;
    background-image: url('../img/loading.gif');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 80px;
}


/******************************************************************************
 *
 * STRUCTURE
 *
 ******************************************************************************/

#header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    padding-right: 20px;
    transition: all 250ms ease-in-out;
    transform: translateX(-230px);
    box-shadow: 0 0 5px rgba(20, 20, 20, 1);
    background-color: rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(255, 255, 255, 1);
}


#header:hover
{
    padding-right: 0;
    transform: translateX(0);
}

#header ul
{
    float: left;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#header ul li
{
    float: left;
    width: 100%;
    height: auto;
    padding: 15px 35px 15px 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(50, 50, 50, 0.15);
}

#header ul li:last-child
{
    border-bottom: 1px solid rgba(50, 50, 50, 0);
}

#wrapper, #wrapper > div
{
    float: left;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

#wrapper
{
    padding-left: 20px; 
}


/* propiedades del div*/
#footer
{
    position: fixed;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 1);
    border-radius: 50%;
    z-index: 1000;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#footer *
{
    color: pink;
}

#footer > a
{
    position: relative;
    width: 100%;
    height: 100%;
}


/* el punto de la i  */
#footer > a::before
{
    content: '';
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    background-color: rgba(50, 50, 50, 0.75);
    border-radius: 100%;
}

/* el cuerpo de la i */
#footer > a::after
{
    content: '';
    position: absolute;
    bottom: 20%;
    left: 50%;
    margin-left: -2px;
    width: 4px;
    height: 40%;
    background-color: rgba(50, 50, 50, 0.75);
    border-radius: 1px;
}

#testBBDD
{
    float: left;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#testBBDD > h1
{
    float: left;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 35px;
}

#testBBDD > input[type="button"]
{
    cursor: pointer;
    padding: 25px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(50, 50, 50, 0.15);
}

#testBBDD > div
{
    width: 100%;
    padding-left: 50%;
}

#testBBDD > div ul
{
    position: relative;
    float: left;
    width: 100%;
    padding: 25px;
    border-left: 1px solid rgba(50, 50, 50, 0.5);
}

#testBBDD > div ul::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    width: 100%;
    height: 100%;
    margin-right: 30px;
    background-image: url('../ng-img/bbdd.png');
    background-position: right center;
    background-repeat:  no-repeat;
    background-size: contain;
}

#testBBDD > div ul li
{
    padding: 5px;
}   

#search
{
    float: left;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#search #searchWrapper
{
    position: relative;
    max-width: 500px;
    padding: 15px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(50, 50, 50, 0.2);
    box-shadow: inset 1px 1px 4px rgba(50, 50, 50, 0.15);
    margin: 50px 0 25px 0;
}

#search #searchWrapper > input[type="text"]
{
    width: 250px;
    float: left;
    padding-right: 45px;
}

#search #searchWrapper::before
{
    content: '';
    position: absolute;
    z-index: 2;
    top: 12px;
    right: 25px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: inset 0 0 0 2px rgba(50, 50, 50, 0.25);
}

#searchWrapper > span{
    position: absolute;
    top: 14px;
    right: 29px;
    font-size:11px;
    z-index: 3;
}

#search #searchWrapper::after
{
    content: '';
    position: absolute;
    z-index: 1;
    top: 16px;
    right: 34px;
    width: 3px;
    height: 20px;
    border-radius: 2px;
    background-color: rgba(50, 50, 50, 0.25);
    transform-origin: top right;
    transform: rotate(-35deg);
}

#search #items
{
    float: left;
    clear: both;
    width: 100%;
    padding: 20px;
}

#search #items article
{
    width: 25%;
    float: left;
    padding: 20px;
}

#search #items article > *
{
    float: left;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(50, 50, 50, 0.2);
    box-shadow:  1px 1px 2px rgba(50, 50, 50, 0.25);
}

#search #items article > * > figure
{
    float: left;
    width: 100%;
    height: 25vh;
    min-height: 15vw;
    border-bottom: 1px solid rgba(50, 50, 50, 0.15);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


#search #items article > * > div
{
    float: left;
    width: 100%;
    padding: 10px 20px;
}

#search #items article > * > div h1,
#search #items article > * > div p
{
    float: left;
    width: 100%;
    padding: 10px 0;
}

#search #items article > * > div h1
{
    text-transform: uppercase;
    border-bottom: 1px solid rgba(50, 50, 50, 0.2);
}

#search #items article > * > div p
{
    text-align: justify;
    line-height: 1.4rem;
    overflow: hidden;
    max-height: 50px;
}

