#info{   
    position: fixed;
    margin: 28% 15%;
    width: 150px;
    height: 150px;
    border: 10px solid black;
    border-radius: 0%;
    transition-duration: 600ms;
    z-index: 100;
}

#info::before{
    position: absolute;
    content: '';
    width: 20%;
    height: 20%;
    background:black;
    top:10%;
    left:39%;
    border-radius: 50%;
}

#info::after{
    position: absolute;
    content: '';
    width: 13%;
    height: 45%;
    background:black;
    top:45%;
    left:42%;
}


#info:hover{   
    border-radius: 50%;
}